<p id="notice"><%= notice %></p>

<h1>New Task</h1>

<%= render 'form' %>
<a href="javascript:$('.tasks').slideDown('slow');">down</a>
<a href="javascript:$('.tasks').slideUp('slow');">up</a>
<br>
<h1>Listing Tasks</h1>

<div class="tasks">
  <%= render @tasks %>
</div>

<a href="javascript:$('.tasks').slideDown('slow');">down</a>
<a href="javascript:$('.tasks').slideUp('slow');">up</a>
